name: Fetch Servers

on:
  schedule:
    - cron: '0 */3 * * *' # At minute 0 past every 3rd hour
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:

      - name: Checkout Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.9'

      - name: Install Python Packages
        run: |
          python -m pip install --upgrade pip
          pip install -r mullvad-metadata-fetcher/requirements.txt

      - name: Execute Script
        run: python mullvad-metadata-fetcher/runner.py

      - name: Save Changes (if required)
        uses: homelab-toolchain/.github_shared/.github/actions/ammend_commit_changes@main
        with:
          github-repository: ${{ github.repository }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore(bot): fetch servers"
